body {
    background-image: url(../images/leaves-pattern.jpg);
    font-family: "Arial Narrow", Arial, sans-serif; 
    line-height: 1.4;
    color: black;
}

.card {
    margin: auto 60px;
    border: 2px solid #9e7310;
    background-color: #ebe7df;
    box-shadow: #352608;
}

h1 {
    text-align: center;
    font-size: 50px;
    background-color: #D7A912;
    color: #32621E;
}

.image { 
    text-align: center;
}

h3 {
    font-size: 21px;
    background-color: rgb(197, 200, 200);
    padding: 10px;
    margin-top: 5px;
}

.ingredients {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

ul {
    margin-top: 0px;
    padding-top: 0px;
}

a { 
    text-decoration: none;
    font-size: 22px;
}

a:visited { 
    color: #5555;
}

a:hover {
    font-style: italic;
}

.box-1 {
    background: rgb(197, 200, 200);
    margin: 12px;
}

