body {
    margin: 40px;
    font-size: 18px;
    background-image: url(../images/leaves-pattern.jpg);
    font-family: "Arial Narrow", Arial, sans-serif; 
    line-height: 1.4;
    color: black;
}

h1 {
    text-align: center;
    font-size: 50px;
    background-color: #D7A912;
    color: #32621E;
}

.intro {
    font-size: 29px;
    margin-right: 5px;
}

.image { 
    text-align: center;
}

h3 {
    font-size: 21px;
    background-color: rgb(197, 200, 200);
    padding: 10px;
    margin-top: 0px;
}

a { 
    text-decoration: none;
    font-size: 22px;
}

a:visited { 
    color: #5555;
}

a:hover {
    font-style: italic;
}
